include README.md
include LICENSE
include pyproject.toml
recursive-include subconscious *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.pyd
recursive-exclude * *.so
recursive-exclude * .DS_Store

